.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.body{
    position: absolute;
    left: 400px;
    top: 90px;
    background-color: rgb(52, 204, 241);
    width: 9px;
    height: 100px;
    ::before{
        left: 100px;
        top: 90px;
        background-color: rgb(52, 204, 241);
        width: 9px;
        height: 80px;
    }
}
.head{
    background-color: rgb(122, 222, 247);
    width: 50px;
    height: 50px; 
    border-radius: 50%;
}